.App {
  text-align: center;
}
.pokemon-card-container {
  padding-top: 2rem;
  padding-left: 18rem;
  align-items: center;
  display: inline-grid;
  column-gap: 20px;
  row-gap: 20px;
  grid-template-columns: auto auto auto auto;
}

.img-poke {
  margin-right: 13px;
  height: 30px;
  width: 30px;
}

.card-content {
  align-self: center;
  align-content: center;
}

.searchInput {
  margin-left: 17.5rem;
  display: flex;
  border-radius: 2px;
  border: 0px;
  height: 30px;
  width: 300px;
}


