.App {
  text-align: center;
}
.pokemon-card-container {
  padding-top: 2rem;
  padding-left: 18rem;
  align-items: center;
  display: inline-grid;
  column-gap: 20px;
  row-gap: 20px;
  grid-template-columns: auto auto auto auto;
}

.img-poke {
  margin-right: 13px;
  height: 30px;
  width: 30px;
}
